$color-primary: #FFF;
$color-main: #000;
$color-secondary: #F5F5F7;
$color-success: #52C41A;
$color-error: #FF4D4F;
$color-warning: #FAAD14;
$color-tag: #FFF6E3;
$color-steps: #E7FDDD;
$color-steps-error: #FFE9E9;

$button-primary: #1890FF;
$button-hover: #40A9FF;
$button-disable: #F5F5F5;
$button-disable-stroke: #D9D9D9;

$input-primary-stroke: #D9D9D9;
$input-focused-stroke: #40A9FF;
$input-primary: #FFF;
$input-primary-disabled: #F5F5F5;
$input-disabled-stroke: #D9D9D9;
$input-error: $color-error;

$link-primary: #1890FF;
$link-hover: #40A9FF;
$link-disable: #BFBFBF;

$typography-main: #000;
$typography-secondary: #777;
$typography-link: #1890FF;
$typography-disable: #BFBFBF;
