*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}
ul[class],
ol[class] {
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
textarea {
  border: none;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  font-family: "SF", sans-serif;
  resize: none;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
  flex-shrink: 0;
  font-family: "SF", sans-serif;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
.main {
  min-height: 100vh;
}
